p{
    color: white;
    background: green;
    font-size: 10px;
    font-style: italic;
}

#div{
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 2px solid orangered;
    margin: 10px;
    padding: 10px;
}

.abc{
    width: 100px;
    height: 100px;
    background: greenyellow;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    position: relative;
    top: 0px;
    left: 0px;
}